@model CheckoutViewModel
@{
    ViewBag.Title = "Checkout";
}

<h1>Checkout</h1>
<div class="row">
    <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">@Model.BasketItems.Count</span>
        </h4>
        <span asp-validation-for="BasketItemsJson"></span>
        <ul class="list-group mb-3">
            @foreach (var item in Model.BasketItems)
            {
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">@item.ProductName</h6>
                        <small class="text-muted">x @item.Quantity</small>
                    </div>
                    <span class="text-muted">@((item.UnitPrice * item.Quantity).ToString("$0.00"))</span>
                </li>
            }
            <li class="list-group-item d-flex justify-content-between">
                <span>Total (USD)</span>
                <strong>@Model.PaymentTotal.ToString("$0.00")</strong>
            </li>
        </ul>
    </div>
    <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Billing address</h4>
        <form asp-controller="Basket" asp-action="Checkout" method="post" class="needs-validation" novalidate>
            <input type="hidden" asp-for="BasketItemsJson" />
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" placeholder="">
                    <div><span asp-validation-for="FirstName"></span></div>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control" placeholder="">
                    <div><span asp-validation-for="LastName"></span></div>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="Street"></label>
                <input asp-for="Street" class="form-control" placeholder="1234 Main Street">
                <div><span asp-validation-for="Street"></span></div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="City"></label>
                    <input asp-for="City" class="form-control" placeholder="">
                    <div><span asp-validation-for="City"></span></div>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="Country"></label>
                    <input asp-for="Country" class="form-control" placeholder="">
                    <div><span asp-validation-for="Country"></span></div>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="State"></label>
                    <input asp-for="State" class="form-control" placeholder="">
                    <div><span asp-validation-for="State"></span></div>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="ZipCode"></label>
                    <input asp-for="ZipCode" class="form-control" placeholder="">
                    <div><span asp-validation-for="ZipCode"></span></div>
                </div>
            </div>
            <hr class="mb-4">

            <h4 class="mb-3">Payment</h4>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="CCNameOnCard"></label>
                    <input asp-for="CCNameOnCard" class="form-control" placeholder="">
                    <small class="text-muted">Full name as displayed on card</small>
                    <div><span asp-validation-for="CCNameOnCard"></span></div>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="CCNumber"></label>
                    <input asp-for="CCNumber" class="form-control" placeholder="">
                    <div><span asp-validation-for="CCNumber"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label asp-for="CCExpiration"></label>
                    <input asp-for="CCExpiration" class="form-control" placeholder="mm/yy">
                    <div><span asp-validation-for="CCExpiration"></span></div>
                </div>
                <div class="col-md-3 mb-3">
                    <label asp-for="CCCvv"></label>
                    <input asp-for="CCCvv" class="form-control" placeholder="">
                    <div><span asp-validation-for="CCCvv"></span></div>
                </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Complete Checkout</button>
        </form>
    </div>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $("#FirstName").val("Ali");
        $("#LastName").val("Yılmaz");
        $("#Street").val("Bahçelievler Mah.");
        $("#City").val("Ankara");
        $("#Country").val("Türkiye");
        $("#State").val("Çankaya");
        $("#ZipCode").val("06100");
        $("#CCNameOnCard").val("Ali Yılmaz");
        $("#CCNumber").val("1111222233334444");
        $("#CCExpiration").val("11/29");
        $("#CCCvv").val("321");
    </script>
}
